


<div class="container">
	<div class="row mt-5">
    <div class="col">
    <h1 class="text-center mt-5">Índice de Recetas</h1>
      <div class="MultiCarousel" data-items="1,2,3" data-slide="1" id="MultiCarousel"  data-interval="1000">
          <div class="MultiCarousel-inner">
            <% @recipe.each do |rec| %>
              <div class="item">
                <div class="pad15">
                  <div class="card-body">
                    <h4 class="card-title lead"><%= rec.title%></h4>
                    <p class="card-text"><%= rec.ingredients.truncate_words(15) %></p>
                    <p class="card-text"><%= rec.elaboration.truncate_words(15) %></p>
                  </div>

                </div>
              </div>
            <% end %>
            <button class="btn btn-primary leftLst"><</button>
            <button class="btn btn-primary rightLst">></button>

          </div>
       </div>

    </div>

  </div>
</div>
