

@import "bootstrap";

nav {
  background-color: #F2CAF1;
}

.fm-nav a {
  color: #310230;
  padding: 15px;
}


.fm-nav a:hover {
  background: rgba(255, 255, 255,.2);
}

.color-home {
  color: #310230;
}
