@import "bootstrap";
@import "users";
@import "recipe";


.container {
  margin-top: 50px;
}

nav {
  background-color: #F2CAF1;
}

.fm-nav a {
  color: #310230;
  padding: 8px;
}


.fm-nav a:hover {
  background: rgba(255, 255, 255,.2);
}

.homeButton {
  color: #310230;
  padding: 8px;
}
